.App {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: var(--color1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------------------------------------------------------------------------- */
/* Root Styles */
* {
  font-family: 'Frutiger', "Frutiger Linotype", 'Univers, Calibri', "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color1: #1c1b1d;
  --color2: #facc29;
  --color3: #0c0c62;
  --color4: #e71c3a;
  --color5:#325af0;
  --white: white;
}

/* HEADER STYLES */

header {
  padding: 5px;
  background-color: var(--color1);
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  justify-content: space-between;
  z-index: 9999;
}

a {
  text-decoration: none;
  color: var(--white);
}

.link {
  font-size: 2.4vw;
  padding: 2vw;
}

header h1 {
  font-weight: bold;
  font-size: 5vw;
  margin: 1%;
  padding-left: 1%;
}

header nav {
  margin-top: 4vw;
}

header nav ul {
  display: flex;
  list-style: none;
}
/* END OF HEADER STYLES */

/* HERO STYLES */

.heroImg {
  width: 100%;
  border-radius: 10vw;
}

.heroHolder {
  margin: 0;
  padding: 0;
  background-color: var(--color1);
  position: relative;
  border: 0.5vw solid var(--color5);
  border-radius: 10vw;
}

.textHolder {
  position: absolute;
  top: 18%;
  left: 6%;
  width: 30%;
  color: var(--white);
}

.heroText {
  font-family: 'Consolas', 'monaco', monospace;
  font-size:  3vw;
  line-height: 5vw;
}

/* END OF HERO STYLES */

/* BIO STYLES */

.bio {
  margin: 1vw 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--color1);
}

.image {
  justify-content: center;
  width: 30%;
}

.portrait {
  margin: 2vw 0;
  border-radius: 2vw;
  flex: 1;
  width: 100%;
  justify-content: center;
}

.bio-text{
  color: var(--white);
  width: 30%;
  font-size: 2vw;
  padding: 2vw;
  margin: 0 3vw;
}

.bio h1 {
  text-align: center;
  margin: 1vw;
  font-size: 4.5vw;
}

.bio p {
  text-align: center;
  border: solid 1vw var(--color5);
  border-radius: 4vw;
  padding: 1vw;
  background-color: var(--color5);
  display: flex;
  flex-wrap: wrap;
}

/* End OF BIO STYLES */

/* PORTFOLIO STYLES */

.portfolio {
  color: var(--white);
  background-color: var(--color3);
  border-top: 1vw solid var(--color5);
  border-bottom: 1vw solid var(--color5);
  border-radius: 2vw;
}

.portfolio h1 {
  text-align: center;
  margin: 1vw;
  font-size: 4.5vw;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 2vw;
  width: 25%;
  border: var(--color5) solid 0.5vw;
  border-radius: 2vw;
  background-color: var(--color5);
}

.card img {
  width: 100%;
  border-radius: 1.4vw;
}

.card a {
  font-size: 2.5vw;
  font-weight: 600;
  text-align: center;
}

/* END OF PORTFOLIO STYLES */

/* CONTACT STYLES */

.contact {
  color: var(--white);
  background-color: var(--color1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact > * {
  flex: 1;
  margin: 4vw;
}

.contactTitle {

  color: var(--white);
  font-size: 4.5vw;
}

/* Info Styles  */
.info {
  font-size: 2.5vw;
  border: var(--color5) 1vw solid;
  border-radius: 2vw;
  background-color: var(--color3);
  padding: 1vw;
  line-height: 5.4vw;
  margin: 1vw;
  height: 100%;
  width: 100%;
}

/* Form Style */
form {
  float: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  background-color: var(--color3);
  border: var(--color5) 1vw solid;
  border-radius: 2vw;
  padding: 15px;
  font-size: 2vw;
  text-align: center;
  margin: 1vw;
}

input, textarea {
 width: 90%;
}

form label {
  display: block;
}

form input, form textarea {
  margin: 1.2vw;
  display: block;
  background-color: var(--color3);
  border: 0.5vw var(--color5) solid;
  border-radius: 5px;
}

form button {
  color: var(--white);
  display: block;
  border: 1vw var(--color5) solid;
  border-radius: 2vw;
  margin: 0 auto;
  background-color: var(--color5);
  padding: 5px;
}

/* END OF CONTACT STYLES */

/* FOOTER STYLES */

footer {
  background-color: var(--color1);
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.name {
  font-size: 1.6vw;
  padding: 1vw;
  margin: 2vw;
}

footer img {
  width: 6vw;
  float: right;
  margin: 2vw;
}

/* END OF FOOTER STYLE */

/* MEDIA QUERIES */

/* Small desktops */
@media screen and (max-width:980px) {
  .thumbnail img{
      justify-content: center;
      width: 100%;
  }
}

/* Tablets */
@media screen and (max-width:768px) {
  .contact > * {
      justify-content: center;
      margin: 15px;
  }

  .info {
      flex-basis: 100%;
  }

  .card {
    width: 45%;
  }
}

/* Phones */
@media screen and (max-width:575px) {
  .bio > * {
      justify-content: center;
      width: 100%;
  }

  .bio-text {
    width: 60%;
  }

  .bio img {
      justify-content: center;
      width: 60%;
      margin: 0 20%;
  }
}


